/**************************************/
/**************************************/
/**                                  **/
/**             COLORS               **/
/**                                  **/
/**************************************/
/**************************************/

$mainBrand: #40e0d0;
$lightShade: #f6f3f4;
$lightAccent: #8ca5bd;
$darkAccent: #705b71;
$darkShade: #1d2437;
