:root {
  --color-mainBrand: #40e0d0;
  --color-lightShade: #f6f3f4;
  --color-lightAccent: #8ca5bd;
  --color-darkAccent: #705b71;
  --color-darkShade: #1d2437;
}

html {
  box-sizing: border-box;
  font-family: 'Merriweather Sans', serif;
  font-size: 100%;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-darkShade, #1d2437);
}

a {
  text-decoration: none;
  color: var(--color-mainBrand, #40e0d0);
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 120%;
  }
}

.nav--top {
  background-color: var(--color-darkShade, #1d2437);
  position: sticky;
  font-size: 1rem;
}

.nav::after {
  content: '';
  display: table;
  clear: both;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav--top .nav__list {
  float: right;
}

.nav__item {
  position: relative;
}

.nav__item.active {
  border-bottom: 0.125em solid var(--color-mainBrand, #40e0d0);
}

.nav__item:not(.active)::after {
  content: '';
  width: 0;
  border-bottom: 0.125em solid var(--color-mainBrand, #40e0d0);
  position: absolute;
  bottom: -0.125em;
  left: 50%;
  transition: width 0.5s cubic-bezier(0.7, 0, 0, 1),
    left 0.5s cubic-bezier(0.7, 0, 0, 1);
}
.nav__item:not(.active):hover::after {
  width: 100%;
  left: 0;
}

.nav--top .nav__item {
  float: left;
}

.nav__link {
  display: block;
  padding: 0.75em 1.25em;
}

.main--main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 18rem [top-row] auto [bottom-row];
}

.main--main > * {
  position: relative;
  overflow-y: auto;
}

.top-left {
  background-color: #705b71;
  grid-column-start: 1;
  grid-column-end: 5;
}

.top-right {
  background-color: var(--color-lightAccent, #8ca5bd);
  grid-column-start: 5;
  grid-column-end: 7;
}

.bottom-left {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--color-mainBrand, #40e0d0);
  /* background-image: url('./public/img/seastar.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.bottom-left::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mainBrand, #40e0d0);
  opacity: 0.3;
  z-index: -1;
}

.bottom-right {
  background-color: var(--color-darkShade, #1d2437);
  grid-column-start: 4;
  grid-column-end: 7;
}

.text {
  padding: 3rem;
  /* width: 20rem;
  margin: 0 auto; */
  color: #f6f3f4;
}
